body {
  background-color: #f5f5f5;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 80px;
}
.titleWrap {
  font-size: 38px;
  margin: 163px 78px 97px -170px;
}
.MakeUser {
  size: 15px;
  color: #949494;
  margin-bottom: 11px;
  margin-left: 40px;
}

.LoginButton {
  width: 344px;
  height: 65px;
  background-color: #3e5f44;
  color: white;
  border-radius: 14px;
  transition: all 0.1s ease-in-out;
}

.InputId,
.InputPwd {
  width: 344px;
  height: 65px;
  margin-bottom: 15px;
  border-radius: 14px;
}

.slice {
  margin-top: 16px;
  margin-bottom: 26px;
  color: #c2c3cb;
}

.InputId input,
.InputPwd input {
  width: 86%;
  height: 80%;
  border-radius: 14px;
  border: none;
  padding-left: 45px;
}

.JoinUserButton {
  width: 344px;
  height: 65px;
  border-radius: 14px;
  border-width: 1px;
  transition: all 0.1s ease-in-out;
}

.personicon {
  transform: translateY(-180%);
  margin-left: 10px;
}

.lockicon {
  transform: translateY(-180%);
  margin-left: 10px;
}
.JoinUserButton:active {
  transform: translateY(3px);
  box-shadow: 0 1px 0 #c2c3cb;
}
