.level-container {
  padding: 80px 20px 180px 20px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
  font-family: "Pretendard", "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.entirelevel {
  width: 228px;
  height: 66px;
  background-color: #cbe0cf;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 32px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.ranking-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 600px;
  font-size: 25px;
  margin: 0 auto;
  align-items: stretch; 
}
.my-rank {
  /* 고정시키기 */
  position: fixed;
  z-index: 99; /* 스크롤 목록보다 위에 오도록 */
  bottom: 80px;
  left: 0;
  right: 0;
  background-color: #e8e8e8;
  border-radius: 14px;
  padding: 12px 18px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 370px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 25px;
}

/* 각 순위 행 */
.rank-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
}

/* 왼쪽: 순위 + 동그라미 + 이름 */
.rank-left {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

/* 숫자 스타일 */
.rank-number {
  font-weight: 600;
}

/* 이름 스타일 */
.rank-name {
  font-weight: 600;
}

.rank-number::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 8px;
  vertical-align: middle;
}
.level-1 .rank-number::after {
  background-color: #a26be0;
}
.level-2 .rank-number::after {
  background-color: #f2994a;
}
.level-3 .rank-number::after {
  background-color: #eb5757;
}
.level-4 .rank-number::after {
  background-color: #6fcf97;
}
.level-5 .rank-number::after {
  background-color: #f2c94c;
}
.level-6 .rank-number::after {
  background-color: #2d9cdb;
}
.level-7 .rank-number::after {
  background-color: #56ccf2;
}
.level-8 .rank-number::after {
  background-color: #9bde7e;
}
