.filter-page {
  width: 100%;
  min-height: 100vh;
  background-color: #d9d9d9;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.location, .point {
  display: flex;
  align-items: center;
  gap: 8px;
}
.location span {
  font-weight: 700;
  font-size: 20px;
}
.location img {
  width: 24px;
  height: 24px;
}

.point {
  padding: 4px 8px;
  border-radius: 9999px;
}
.point span {
  font-weight: 700;
  font-size: 18px; 
}
.point img {
  width: 35px;
  height: 40px;
}


.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}


.region {
  background-color: #A3B9A2;
  color: #27272a;
  font-weight: 700;
  padding: 12px 32px;
  border-radius: 9999px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
}

.category {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.category-button {
  background-color: #F3F3F3;
  color: black;
  border: none;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 32px 0;
  cursor: pointer;
  transition: transform 0.2s;
}
.category-button:hover {
  transform: scale(1.05);
}
.category-button:active {
  transform: scale(0.95);
}
.category-button img {
  width: 48px;
  height: 48px;
}
.category-button span {
  font-weight: 600;
  font-size: 18px;
}


