.filter-page {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}


.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.region {
  background-color: #a3b9a2;
  color: #ffffff;
  font-weight: 700;
  padding: 12px 32px;
  border-radius: 9999px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.125rem;
}

.category {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.category-button {
  background-color: #f3f3f3;
  color: black;
  border: none;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 70px 0;
  cursor: pointer;
  transition: transform 0.2s;
}
.category-button:hover {
  transform: scale(1.05);
}
.category-button:active {
  transform: scale(0.95);
}
.category-button img {
  width: 48px;
  height: 48px;
}
.category-button span {
  font-weight: 600;
  font-size: 18px;
}
