.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* 중앙 정렬 */
}

.titleWrap {
  font-size: 38px;
  margin: 163px 78px 40px -130px;
  color: #385639;
}

.backbutton {
  position: absolute;
  top: 4vh;
  left: 4vw;
  width: 10vw;
  height: 10vw;
  max-width: 45px;
  max-height: 45px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  cursor: pointer;
  background-color: white;
  margin-left: 40px;
}

.LoginButton {
  width: 344px;
  height: 65px;
  background-color: #3e5f44;
  color: white;
  border-radius: 14px;
}

.InputId,
.InputPwd,
.InputName,
.InputEmail {
  width: 344px;
  height: 65px;
  margin-bottom: 15px;
  border-radius: 14px;
}

.InputId input,
.InputPwd input,
.InputName input,
.InputEmail input {
  width: 86%;
  height: 80%;
  border-radius: 14px;
  border: none;
  padding-left: 45px;
}

.JoinUserButton {
  width: 344px;
  height: 65px;
  border-radius: 14px;
  border-width: 1px;
  color: white;
  background-color: #3e5f44;
}

/* 아이콘 위치 */
.personicon {
  transform: translateY(-180%);
  margin-left: 10px;
}
.emailicon {
  transform: translateY(-220%);
  margin-left: 10px;
}

.lockicon {
  transform: translateY(-180%);
  margin-left: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 25px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  text-align: center;
}
.modal-content button {
  margin-top: 15px;
  padding: 6px 18px;
  border: none;
  background: #003366;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
