.occupy-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
  font-family: "Pretendard", "Inter", sans-serif;
  box-sizing: border-box;
  padding-top: 20px;
}

/* 제목 */
.occupy-title {
  background-color: #a3b9a2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 9999px;
  padding: 12px 32px;
  margin-bottom: 16px;
  color: #ffffff;
}

/* 각 구역 */
.occupy-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
  font-family: "Pretendard", "Inter", sans-serif;
  box-sizing: border-box;
}


/* 각 구역 */
.dong-card {
  width: 388px;
  height: 162px;
  background-color: #e8e8e8;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-left: 16px;

  /* 카드가 연달아 나올 때 구분을 위해 마진을 추가하는 것이 좋습니다 */
  margin-bottom: 16px;
}

.pointicon,
.questicon {
  width: 30px;
  height: 35px;
  vertical-align: middle;
  margin-right: 8px;
}

.pointicon,
.questicon {
  width: 30px;
  height: 35px;
  vertical-align: middle;
  margin-right: 8px;
}
