.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  background: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  border-top: 1px solid #e5e7eb;

  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2000;
}

.footer-navlink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000; 
  padding: 8px;
  border-radius: 12px;

  transition: background-color 0.2s ease;
}

.footer-navlink:hover {
  background-color: #dce8dc;
}

.footer-navlink.active {
  background-color: #dce8dc;
}